<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="./assets/img/TecnoSalud.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/about.css">
    <link rel="stylesheet" href="/assets/css/FontAwesome/css/all.css"> 
    <link rel="stylesheet" href="/assets/css/FontAwesome/css/regular.css">
    <link rel="stylesheet" href="/assets/css/FontAwesome/css/solid.css">
    <link rel="stylesheet" href="/assets/css/FontAwesome/css/brands.css"> 
    <title>Acerca de | Tecno Salud</title>
</head>
<body>
    <br>
    <div class="container">
        <h1><i class="fa-solid fa-circle-info fa-sm" style="color: #286695;"></i> Acerca de</h1>
        <p>
            Este proyecto fue desarrollado como parte de la clase de <span class="important">Desarrollo Web en Entorno Cliente</span> en la <span class="important">Facultad de Ingeniería</span> de la <span class="important">Universidad de Managua (UdeM)</span>.
        </p>
        <p>
            El objetivo principal del proyecto es aplicar los conocimientos adquiridos durante el curso para crear una aplicación web funcional y efectiva. A lo largo del desarrollo, se utilizaron diversas tecnologías y prácticas recomendadas en el desarrollo web moderno, incluyendo HTML, CSS y JavaScript.
        </p>
        <p>
            Además de cumplir con los requisitos académicos, este proyecto busca proporcionar una base sólida para futuros desarrollos y servir como ejemplo práctico de las habilidades adquiridas en el curso.
        </p>
        <p>
            <spam class="important">DI08A | 3° Año | Desarrollo Web en Entorno Cliente | Ingeniería en Sistemas | Computación</spam>
        </p>
        <button class="btn-back" onclick="window.location.href='/index.html'">Volver al inicio</button>
    </div>
</body>
</html>