<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/contact.css">
    <title>Contáctanos - Proyecto de Desarrollo Web</title>
</head>
    <div class="container">
        <h1>Contáctanos</h1>
        <div class="contact-info">
            <p>Correo Electrónico: <a href="mailto:tecnosaludnicaragua@gmail.com">tecnosaludnicaragua@gmail.com</a></p>
            <p>Sitio Web: <a href="https://www.tecnosalud.info" target="_blank">www.tecnosalud.info</a></p>
        </div>
        <div class="qr-code">
            <img src="/assets/img/TS QR.png" alt="Código QR" width="150" height="150">
        </div>
        <button class="btn-back" onclick="window.location.href='/index.html'">Volver al inicio</button>
    </div>

</body>
</html>
