<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias | Tecno Salud</title>
    <link rel="stylesheet" href="/assets/css/notice.css">
    <link rel="stylesheet" href="/assets/css/FontAwesome/css/all.css">
    <link rel="shortcut icon" href="/assets/img/TecnoSalud.ico" type="image/x-icon">
</head>
<body>
    <header>
        <div class="barra_navegacion">
            <a href="/index.html"><img src="/assets/img/TecnoSalud.svg" alt="TecnoSalud Logo" class="logo_img"></a>
            <div class="logo">Tecno Salud</div>
            <ul class="enlaces">
                <li><a href="/index.html"><i class="fa-solid fa-house"></i> Inicio</a></li>
                <li><a href="#"><i class="fa-solid fa-newspaper"></i> Noticias</a></li>
                <li><a href="/assets/view/otros/contact.html"><i class="fa-solid fa-id-card-clip"></i> Contáctanos</a></li>
                <li><a href="/assets/view/otros/about.html"><i class="fa-solid fa-circle-info"></i> Acerca de</a></li>
            </ul>
            <a href="/assets/view/otros/subscribe.html" class="subscribe-button">Suscribirse</a>
            <img src="/assets/img/menu.png" alt="" class="handler">
        </div>

        <div class="phone_menu">
            <li><a href="/index.html"><i class="fa-solid fa-house"></i> Inicio</a></li>
            <li><a href="#"><i class="fa-solid fa-newspaper"></i> Noticias</a></li>
            <li><a href="/assets/view/otros/contact.html"><i class="fa-solid fa-id-card-clip"></i> Contáctanos</a></li>
            <li><a href="/assets/view/otros/about.html"><i class="fa-solid fa-circle-info"></i> Acerca de</a></li>
            <li><a href="/assets/view/otros/subscribe.html"><i class="fa-solid fa-star"></i> Suscribirse</a></li>
        </div>
    </header>


    <!-- Noticias -->

    <section class="noticias">
        <article class="noticia">
            <h2 class="noticia-titulo">Adicción a la tecnología</h2>
            <p class="noticia-descripcion">La adicción a las tecnologías es un problema cada vez más común, pero ¿qué síntomas presenta?.</p>
            <p class="noticia-fecha">Publicado: 15 de julio de 2023</p>
            <img src="/assets/img/ilustraciones.png" alt="Adicción a la tecnología" class="noticia-imagen">
            <a href="/assets/view/articulos/Art_01.html" class="noticia-enlace">Leer más</a>
        </article>
        
        <article class="noticia">
            <h2 class="noticia-titulo">Peligros del internet</h2>
            <p class="noticia-descripcion">El internet tiene miles de propositos, pero también puede ser peligroso, ¿cómo protegerte?.</p>
            <p class="noticia-fecha">Publicado: 10 de julio de 2023</p>
            <img src="/assets/img/peligros3.png" alt="Peligros del internet" class="noticia-imagen">
            <a href="/assets/view/articulos/Art_02.html" class="noticia-enlace">Leer más</a>
        </article>
        
        <article class="noticia">
            <h2 class="noticia-titulo">Estafas en linea</h2>
            <p class="noticia-descripcion">Aprenda a navegar por Internet de manera segura y a protegerse contra las amenazas digitales.</p>
            <p class="noticia-fecha">Publicado: 5 de julio de 2023</p>
            <img src="/assets/img/art3.png" alt="Estafas en linea" class="noticia-imagen">
            <a href="/assets/view/articulos/Art_03.html" class="noticia-enlace">Leer más</a>
        </article>

        <article class="noticia">
            <h2 class="noticia-titulo">Seguridad de datos bancarios</h2>
            <p class="noticia-descripcion">¿Tomas las precauciones necesarias para proteger tus datos bancarios en línea?.</p>
            <p class="noticia-fecha">Publicado: 1 de julio de 2023</p>
            <img src="/assets/img/card21.png" alt="Seguridad de datos bancarios" class="noticia-imagen">
            <a href="/assets/view/articulos/Art_04.html" class="noticia-enlace">Leer más</a>
        </article>

        <article class="noticia">
            <h2 class="noticia-titulo">El ciberacoso</h2>
            <p class="noticia-descripcion">Descubre cómo el ciberacoso afecta la salud mental y aprende estrategias efectivas para enfrentarlo y prevenirlo.</p>
            <p class="noticia-fecha">Publicado: 25 de junio de 2023</p>
            <img src="/assets/img/dawd3.png" alt="El ciberacoso" class="noticia-imagen">
            <a href="/assets/view/articulos/Art_05.html" class="noticia-enlace">Leer más</a>
        </article>

        <article class="noticia">
            <h2 class="noticia-titulo">La Ética en la Inteligencia Artificial y la Privacidad</h2>
            <p class="noticia-descripcion">Explora la intersección de la ética en la inteligencia artificial y la privacidad de datos para un uso responsable y seguro de la IA.</p>
            <p class="noticia-fecha">Publicado: 20 de junio de 2023</p>
            <img src="/assets/img/fsd.png" alt="La Ética en la Inteligencia Artificial y la Privacidad" class="noticia-imagen">
            <a href="/assets/view/articulos/Art_06.html" class="noticia-enlace">Leer más</a>
        </article>

        <article class="noticia">
            <h2 class="noticia-titulo">Compras seguras en linea</h2>
            <p class="noticia-descripcion">Descubre las mejores formas de proteger tu informacion al realizar compras en linea.</p>
            <p class="noticia-fecha">Publicado: 15 de junio de 2023</p>
            <img src="/assets/img/buykd.png" alt="Compras seguras en linea" class="noticia-imagen">
            <a href="/assets/view/articulos/Art_07.html" class="noticia-enlace">Leer más</a>
        </article>
    </section>


        <!-- Footer -->
        <div class="footer">
            <div class="footer-content">
                <p class="crights">© Todos los derechos reservados - TecnoSalud 2024</p>
            </div>
        </div>
</html>
