<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/img/TecnoSalud.ico" type="image/x-icon">
    <!-- Link Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">    
    <!-- Links -->
    <link rel="stylesheet" href="/assets/css/subscription.css">
    <link rel="stylesheet" href="/assets/css/FontAwesome/css/all.css"> 
    <link rel="stylesheet" href="/assets/css/FontAwesome/css/regular.css">
    <link rel="stylesheet" href="/assets/css/FontAwesome/css/solid.css">
    <link rel="stylesheet" href="/assets/css/FontAwesome/css/brands.css"> 
    <script src="/assets/js/sweetalert2.all.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            emailjs.init("01UQuUSGDwXWESYsN"); 
        })();
    </script>
    <!-- Titulo -->
    <title>Suscription - Tecno Salud</title>
</head>
<body>

    <!-- Header -->
    <header>
        <div class="barra_navegacion">
            
            <a href="/index.html"><img src="/assets/img/TecnoSalud.svg" alt="TecnoSalud Logo" class="logo_img"></a>
            <div class="logo">Tecno Salud</div>
            <ul class="enlaces">
                <li><a href="/index.html"><i class="fa-solid fa-house"></i> Inicio</a></li>
                <li><a href="/assets/view/otros/notice.html"><i class="fa-solid fa-newspaper"></i> Noticias</a></li>
                <li><a href="/assets/view/otros/contact.html"><i class="fa-solid fa-id-card-clip"></i> Contactanos</a></li>
                <li><a href="/assets/view/otros/about.html"><i class="fa-solid fa-circle-info"></i> Acerca de</a></li>
            </ul>
            <a href="/assets/view/otros/subscribe.html" class="subscribe-button">Suscribirse</a>
            <img src="/assets/img/menu.png" alt="" class="handler">
        </div>

        <div class="phone_menu">
            <li><a href="/index.html"><i class="fa-solid fa-house"></i> Inicio</a></li>
            <li><a href="/assets/view/otros/notice.html"><i class="fa-solid fa-newspaper"></i> Noticias</a></li>
            <li><a href="/assets/view/otros/contact.html"><i class="fa-solid fa-id-card-clip"></i> Contactanos</a></li>
            <li><a href="/assets/view/otros/about.html"><i class="fa-solid fa-circle-info"></i> Acerca de</a></li>
            <li><a href="/assets/view/otros/subscribe.html"><i class="fa-solid fa-star"></i> Suscribirse</a></li>
        </div>

     </header>

     <div class="alerts">
        <div class="alert_msg">
            <i class="fa-solid fa-circle-info"></i>
           <p>Subscripcion no disponible en modo offline</p>
           <i class="x-btn fa-solid fa-x"></i>
        </div>
     </div>

    <br>
    <div class="formulario">
        <form onsubmit="return validateRecaptcha()">
        <img class="img-form" src="/assets/img/profile.png" alt="">
        <h2 class="titulo">Subscribete a TecnoSalud gratis!</h2>
        <label class="label-text" for="name">Nombre</label>
        <br>
        <input class="inp-name" placeholder="Introduce tu nombre" type="text" id="name" name="name" required>
        <br>
        <label class="label-text" for="email">Email</label>
        <br>
        <input class="inp-mail" placeholder="Introduce tu email" type="email" id="email" name="email" required>
        <br>
        <div class="g-recaptcha" data-sitekey="6LfV3-gpAAAAAJZTt3N1eI9_gSnGVgaKFup-Vf08"></div>
        <input class="btn-sub" type="submit" value="Enviar">
    </form>
    </div>



    <script src="/assets/js/recaptcha.js"></script>
</body>
</html>