body{
    /* background-color: #000000; */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BARRA DE NAVEGACION */

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

a:hover {
    color: rgb(255, 0, 0);
    font-weight: bold;
}

header {
    position: relative;
    padding: 0 2rem;
}

.barra_navegacion {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}


.logo_img {
    display: none;
    width: 2rem;
    height: 2rem;
}

.logo_img:hover{
    transform: rotate(180deg);
    transition: 0.5s;
    cursor: pointer;
}

.enlaces {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.subscribe-button {
    background-color: transparent;
    border: 1px solid black;
    height: 30px;
    width: 100px;
    font-weight: bold;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-button:hover {
    background-color: #3671ab;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    transition: all 0.5s;
    scale: 1.2;
    box-shadow: 0 0 10px rgba(15, 86, 179, 0.5);
}

.phone_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.664);
    backdrop-filter: blur(100px);
    border-radius: 10px;
    overflow: hidden;
}

.phone_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.handler {
    display: none;
    width: 20px;
    cursor: pointer;
}

@media (max-width: 760px) {
    .handler {
        display: block;
    }

    .subscribe-button {
        display: none;
    }

    .logo_img {
        display: block;
    }

    .logo {
        display: none;
    }
    .enlaces {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #f1f1f1;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }
}

/* ALERTA */

.alerts{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.x-btn{
    cursor: pointer;
}

.x-btn:active{
    transform: scale(0.9);
}




.alert_msg{  
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 320px;
    height: 30px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: orangered;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px -3px #111;
    margin: 10px;
}


/* FORMULARIO */


.formulario {
    width: auto;
    height: 450px;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    /* border: black solid 1px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.img-form{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.formulario .titulo{
    font-size: 20px;
    font-weight: bold;
    /* text-align: center; */
    margin-bottom: 20px;
    display: block;
}

.label-text{
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 10px;

}

.inp-name{
    width: 90%;
    padding: 10px;
    border-radius: 2px;
    border: black solid 1px;
    margin-bottom: 10px;
}

.inp-mail{
    width: 90%;
    padding: 10px;
    border-radius: 2px;
    border: black solid 1px;
    margin-bottom: 10px;
}

.btn-sub{
    font-family: "Rubik", sans-serif;
    width: 100%;
    padding: 10px;
    background-color: #3671ab;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.btn-sub:hover{
    background-color: gold;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}


